html
    head
        title Roles By Actions
    body
        h2 Your Answer
        ul
          each role in desiredRoles
              li= role
          else
              div None: no roles supports all actions
        h3 How we got there (roles by action)
        each roleByAction in rolesByActions
            div= roleByAction[0]
                ul
                  each role in roleByAction[1]
                      li= role