html
    head
        title= title
    body
        h2 Your Answer
        ul
          each role in desiredRoles
              li= role
        h3 How we got there
        each roleByAction in rolesByActions
            div= roleByAction[0]
                ul
                  each role in roleByAction[1]
                      li= role